<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Kurs</th>
              <th>Veranstaltungsort</th>
              <th>Adresse des Veranstaltungsortes</th>
              <th>Öffentlich erreichbar?</th>
              <th>Kursleiter</th>
              <th>Alle Termine</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of storeService.courses" class="table-row">
              <td class="table-cell course-name">{{ course.name }}</td>
              <td class="table-cell event-location">{{ course.eventLocation.name }}</td>
              <td class="table-cell event-address">{{ course.eventLocation.address }}</td>
              <td class="table-cell public-transport">
                {{ course.eventLocation.venueByPublicTansport ? 'Ja' : 'Nein' }}
              </td>
              <td class="table-cell instructor">{{ course.instructor }}</td>
              <td class="table-cell course-dates">
                <ul class="date-list">
                  <li *ngFor="let date of course.dates" class="date-item">
                    <span class="date-begin">{{ date.begin | date: 'MMM dd, yyyy HH:mm' }}</span>
                    -
                    <span class="date-end">{{ date.end | date: 'HH:mm' }}</span>
                  </li>
                </ul>
              </td>
            </tr>            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
