<app-loading-spinner *ngIf="storeService.cousesLoading || storeService.registrationsLoading"></app-loading-spinner>
<app-header></app-header>
<router-outlet></router-outlet>

<mat-toolbar color="primary" class="mb-3">
    <span>ActiveTogether</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/courses" class="btn btn-outline-light">Kurse</button>
    <button mat-button routerLink="/registrations" class="btn btn-outline-light">Anmeldungen</button>
    <button mat-button routerLink="/about" class="btn btn-outline-light">Über uns</button>
  </mat-toolbar>
  
  