<div class="container mt-5">
    <div class="banner-container">
      <img src="assets/images/horse.jpg" alt="Horse" class="banner-img">
      <img src="assets/images/yoga.jpg" alt="Yoga" class="banner-img">
      <img src="assets/images/diving.jpg" alt="Diving" class="banner-img">
    </div>

    <!-- Button zum Öffnen/Schließen des Formulars -->
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <app-button (buttonClickedEvent)="buttonClicked()" [showForm]="showForm"></app-button>
      </div>
    </div>
  
    <!-- Formular zum Hinzufügen von Daten -->
    <div class="row justify-content-center mt-4" *ngIf="showForm">
      <div class="col-lg-8">
        <app-add-data></app-add-data>
      </div>
    </div>
  
    <!-- Tabelle mit den Daten -->
    <div class="row justify-content-center mt-5">
      <div class="col-lg-11">
        <app-data></app-data>
      </div>
    </div>
  </div>
  