@import "bootstrap/dist/css/bootstrap.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

  body {
  background: linear-gradient(to bottom, #e0f7fa, #ffffff); /* Wasser- und Naturfarbkombination */
  font-family: 'Roboto', sans-serif;
  color: #333;
  }

  
  h1, h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container {
    max-width: 960px;
  }
  
  form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .table-responsive {
    margin-top: 20px;
  }
  
  .table th, .table td {
    vertical-align: middle;
  }
  
  button {
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  
  